.title {
  text-align:center;
}

mark {

}

h5 {
  font-size:2em;
}

h6 {
  font-size:1em;
  font-style:bolder;
}

p {
  text-align:left;
}

.section {
  width:100%;
  overflow:hidden;
}

.side-column {
  width:35%;
  padding:1% 3% 1% 5%;
  display:inline;
}

.scroll-post {
  margin-top:-75%;
  margin-left:-58%;
  width:160%;
  position:relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling: touch;
  height:240vh;
}

.video {
  margin-top:5%;
}

iframe{
  z-index:100;
}

#bonnets {
  width:130%;
  height:500vh;
  -webkit-transform:scale(0.4);
  -moz-transform:scale(0.4);
  overflow:hidden;
  position:absolute;
  margin-top:-1%;
}

#bonnets iframe {
  width:130%;
}

#headwear {
  width:300%;
  height:500vh;
  -webkit-transform:scale(0.2);
  -moz-transform:scale(0.2);
  overflow:hidden;
  position:relative;
}

#headwear iframe {
  width:200%;
  height:600px;
}


#footwear {
  width:200%;
  height:500vh;
  -webkit-transform:scale(0.2);
  -moz-transform:scale(0.2);
  overflow:hidden;
  position:relative;
  margin-top:-18%;
  margin-left:0%;
}

#footwear iframe {
  width:200%;
  height:1000px;
}

body {
  font-family: "Source Code Pro", Consolas, monaco, monospace; 
  margin: 0; 
  width:100%;
}

path.link {
  fill: none;
  stroke-width: 2px;
}

.node:not(:hover) .nodetext {
  display: none;
}

/*.nodetext {
  font-size:3em;
  z-index:1000;
}*/

h4 { 
  font-size:1em; 
  text-transform: uppercase; 
  font-weight: bolder;
  background-color:black;
  color:white;
  padding:0.5%;
  margin:0;
  width:100%;
}

h1 { 
  font-size: 2.5em; 
  margin: 10px 0; 
  text-transform: uppercase; 
  font-weight: normal;
}

h2, h3 { 
  font-size: 1.5em; 
  line-height:1em;
  font-weight: normal;}

header {
  padding: 0%;
  position: absolute; 
  top: 0; 
  left: 0;}

a:link { 
  color: #EE3124; 
  text-decoration: none;}

a:visited { 
  color: #EE3124; }

a:hover { 
  color: #A4CD39; 
  text-decoration: underline;}

a:active { 
  color: #EE3124; }

