.title {
  text-align:center;
  padding:0%;
}

iframe {
  width:140%;
  height:220vh;
  -webkit-transform:scale(0.4);
  -moz-transform:scale(0.4);
  overflow:hidden;
  position:absolute;
  margin-top:-32%;
  margin-left:-38%;
}

body {
  font-family: "Source Code Pro", Consolas, monaco, monospace; 
  font-size: 1em;  
  margin: 0; 
}

path.link {
  fill: none;
  stroke-width: 2px;
}

.node:not(:hover) .nodetext {
  display: none;
}

h4 { 
  font-size:1em; 
  text-transform: uppercase; 
  font-weight: bolder;
  background-color:black;
  color:white;
  padding:0.5%;
  margin:0;
}

h1 { 
  font-size: 2.5em; 
  margin: 10px 0; 
  text-transform: uppercase; 
  font-weight: normal;
}

h2, h3 { 
  font-size: 1.5em; 
  line-height:1em;
  font-weight: normal;}

header {
  padding: 0%;
  position: absolute; 
  top: 0; 
  left: 0;}

a:link { 
  color: #EE3124; 
  text-decoration: none;}

a:visited { 
  color: #EE3124; }

a:hover { 
  color: #A4CD39; 
  text-decoration: underline;}

a:active { 
  color: #EE3124; }

