.title {
  text-align:center;
  padding:0%;
}

.section {
  width:100%;
  overflow:hidden;
}

.scroll-post {
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    height:100vh;
}

#bonnets {
  width:130%;
  height:220vh;
  -webkit-transform:scale(0.35);
  -moz-transform:scale(0.35);
  overflow:hidden;
  position:relative;
  margin-left:-40%;
  margin-top:-35%;
}

#bonnets iframe {
  width:130%;
  height:600px;
}

#footwear {
  width:500%;
  height:500vh;
  -webkit-transform:scale(0.2);
  -moz-transform:scale(0.2);
  overflow:hidden;
  position:relative;
  margin-top:-185%;
  margin-left:-155%;
}

#footwear iframe {
  width:500%;
  height:1000px;
}

body {
  font-family: "Source Code Pro", Consolas, monaco, monospace; 
  font-size: 1em;  
  margin: 0; 
  width:100%;
}

path.link {
  fill: none;
  stroke-width: 2px;
}

.node:not(:hover) .nodetext {
  display: none;
}

h4 { 
  font-size:1em; 
  text-transform: uppercase; 
  font-weight: bolder;
  background-color:black;
  color:white;
  padding:0.5%;
  margin:0;
  width:100%;
}

h1 { 
  font-size: 2.5em; 
  margin: 10px 0; 
  text-transform: uppercase; 
  font-weight: normal;
}

h2, h3 { 
  font-size: 1.5em; 
  line-height:1em;
  font-weight: normal;}

header {
  padding: 0%;
  position: absolute; 
  top: 0; 
  left: 0;}

a:link { 
  color: #EE3124; 
  text-decoration: none;}

a:visited { 
  color: #EE3124; }

a:hover { 
  color: #A4CD39; 
  text-decoration: underline;}

a:active { 
  color: #EE3124; }

