.fashion {
  padding:20% 40% 20% 7%;
  width:40%;
}

.fashion h1{
  font-family: "Didot",serif;
}

#model-section {
  background-color:#2b2625;
  color:white;
  height:100vh;
  background-image: url("assets/model-section.png");
  background-attachment: fixed;
  background-size: 100% auto;
}

#century-section {
  background-color:#2b2625;
  color:white;
  height:100vh;
  background-image: url("assets/evolution.png");
  background-attachment: fixed;
  background-size: 100% auto;
}
/*Cluster Tutorial*/

  #tutorial {
    position:absolute;
    margin:5% 32% 15% 32%;
    width:30%;
    text-align:center;
    font-family: "Source Code Pro", Consolas, monaco, monospace;
    line-height:2em;
    z-index:101;
    -webkit-transition: margin-top 1s; /* Safari */
    transition: margin-top 1s;
  }

  #clusters {
    width: 90%;
    height: 100vh;
    position: relative;
    display:inline-block;
    margin:5%;
    z-index:0;
  }

  .label46{
    width: 2%;
    height: auto;
    position: relative;
    left:0px;
    top:50%;
    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;
     -webkit-transition: top 2s; /* Safari */
    transition: top 2s;
  }

  .label29 {
    width: 2%;
    height: auto;
    position: relative;
    left:0px;
    top:50%;
    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;
     -webkit-transition: top 2s; /* Safari */
    transition: top 2s;
  }

  #cluster-desc {
    width:50%;
    margin:auto;
    margin-top:-12%;
    margin-bottom:12%;
    opacity:0;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    -webkit-transition: margin-top 2s; /* Safari */
    transition: margin-top 2s;
    font-size:1em;
    font-weight:400;
    z-index:1;
    }

/*Main page */

.title {
  background-color:#2b2625;
  color:white;
  height:100vh;
  background-image: url("assets/bg.png");
  background-attachment: fixed;
  background-size: auto 90%;
  line-height:2.5em;
  background-repeat:no-repeat;
  background-position: bottom right; 
}


.header {
  text-align:left;
  width:30%;
  padding:5%;
  font-weight:400;
  z-index:0;
  display:block;
}

.header p {
  display:block;
  font-size:0.7em;
  line-height:1.5em;
  width:60%;
}

svg {
  z-index:1;
}


button {
  background-color: #EE3124; 
  color:white;
  border:none;
  padding:2%;
  font-family: "Source Code Pro", Consolas, monaco, monospace;
  cursor:pointer;
  z-index:101;
}

button:hover {
  background-color:#AB9A84;
}

.fixed {
  position:fixed;
}
.next {
  text-align:center;
  position:absolute;
  top:65%;
  right:0%;
}

.popout {
  position:absolute;
  width:30%;
  height:100%;
  background-color:white;
  right:0;
  top:5%;
  padding-right:5%;
}
.popout-heading {
    padding-top:20%;
}

.popout-heading mark {
  background-color:#2b2625;
  color:white;
  font-size:0.7em;
  padding:2%;
  line-height:4em;
}

.popout p {
  width:80%;
  white-space: pre-line;
}

.popout p mark {
  text-decoration:underline;
  line-height:1.5em;
}

.popout h1 {
  width:80%;
  white-space: pre-line;
}

.primitive {
  width:20%;
  display:block;

}

#transform {
  width:50%;
  display:block;
  padding:5% 0% 2% 0%;
}

.about {
  background-color: #EE3124; 
  color:white;
  position:absolute;
  font-size:1.5em;
  padding:2%;
  margin-left:90%;
  margin-top:5%;
  cursor:pointer;
}
.about:hover {
  background-color:#AB9A84;
}

close {
  position:absolute;
  margin-top:-5%;
  color:#EE3124;
  cursor:pointer;
}

close:hover {
  color:#AB9A84;
}

info {
  color:#EE3124;
  cursor:pointer;
}

info:hover {
  color:grey;
}

#featured img{
  width:50px;
  max-height:100px;
}

.node image {
  filter:grayscale(100%);
}

.content {
  background-color:#2b2625;
  color:white;
}

#all{
  width:100%;
  margin-left:20%;
}

em {
  font-style:normal;
  font-weight:600;
  text-decoration:none;
  text-transform:uppercase;
  font-size:1em;
}

mark {
  background-color:white;
  color:#2b2625;
  padding:1%;
}

label {
  color:#EE3124;
}

label:hover {
  color:#AB9A84;
  font-weight:600;
  text-decoration:underline;
}


h5 {
  font-size:1.2em;
  line-height:2em;
  text-transform:uppercase;
}

h6 {
  font-size:1em;
  font-style:bolder;
}

p {
  text-align:left;
  padding-right:5%;
  font-size:0.8em;
}

#map {
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}

#map h5 {
  position:absolute;
  margin:5% 5% 10% 75%;
  width:20%;
}

#map mark {
  background-color:#2b2625;
  color:white;
}

.section {
  margin-top:-10%;
  width:100%;
  overflow:hidden;
  display:block;
}

.content {
  height:100%;
  padding-top:10%;
  padding-bottom:10%;
}

.side-column {
  width:35%;
  padding:1% 0% 1% 5%;
  display:inline;
}

.media-column {
    float:right;
    position:relative;
    padding:0%;
    width:50%;
    padding-top:5%;
    left:0%;
    overflow:hidden;
}

.scroll-post {
  margin-left:0%;
  position:relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling: touch;
  height:110vh;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.title label:hover {
  color:white;
  font-style:normal;
  font-weight:400;
}

.media-holder {
  position:relative;
  width:100%;
  padding-top:0;
  margin-top:0;
  padding-bottom:75%;
  height:0;
  overflow:hidden;
  display:inline-grid;
  padding-left:0%;
}

.media-holder iframe {
  position:absolute;
  top:0%;
  left:0;
  width:100%;
  height:100%;
  padding:3%;
  padding-left:8%;
}

.map-img {
  width:100%;
  height:100vh;
  overflow: auto;
  background-color:white;
}

#map-img-parent {
  transition: 1s ease;
}

#my_map {
  margin-left:-50%;
  margin-top:-5%;
  transform:scale(0.5);
  transition: 1s ease;
  z-index:-1;
}

.controls {
  z-index:100;
  top:75%;
  left:95%;
  opacity:0.95;
}

.controls button {
    display:block;
    margin:5%;
    padding:20%;
    font-size:0.8em;
    float:right;
  }

#zoom-in, #zoom-out {
  font-size:1em;
  padding:5% 12% 5% 12%;
  display:inline-block;
}

.map-img iframe {
  position:absolute;
  top:2%;
  left:0;
  width:100%;
  height:50%;
}

#map iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

body {
  font-family: "Source Code Pro", Consolas, monaco, monospace; 
  margin: 0; 
  width:100%;
  color: #2b2625;
}

path.link {
  fill: none;
  stroke-width: 1px;
}

.nodetext {
  font-size:0.8em;
}

.node:not(:hover) .nodetext {
  display: none;
}

.node:not(:hover) .nodeimage{
  display: none;
}

h4 { 
  font-size:1em; 
  text-transform: uppercase; 
  font-weight: bolder;
  padding:0.5%;
  margin:0;
  width:100%;
}

h1 { 
  font-size: 2.5em; 
  margin: 10px 0; 
  text-transform: uppercase; 
  font-weight: normal;
}

h2, h3 { 
  font-size: 1.5em; 
  line-height:1em;
  font-weight: normal;}

header {
  padding: 0%;
  position: absolute; 
  top: 0; 
  left: 0;}

a:link { 
  color: #EE3124; 
  text-decoration: none;}

a:visited { 
  color: #EE3124; }

a:hover { 
  color: #AB9A84; 
  text-decoration: underline;}

a:active { 
  color: #EE3124; }

#mobile-cta {
  display:none;
}

.callout {
  margin-top:15%;
  margin-left: 10%;
  position:absolute;
  width:30%;
}

.callout p{
  padding: 5% 0% 5% 0%;
  font-size:0.8em;
  width:80%;
}

.launch {
  font-family: "Source Code Pro", Consolas, monaco, monospace;
  width:100%;
  cursor:pointer;
  font-size:2em;
  font-weight:400;
  text-transform:uppercase;
  color:#EE3124;
  letter-spacing: 0.05em;
}

.launch:hover {
  color: #AB9A84;
}

.typewriter {
  width:100%;
}

/*Typewriter*/

.typewriter #subtitle1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
/*  margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size:1em;
  animation: 
    typing 4s steps(40, end) infinite
}

.typewriter #subtitle2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
/*  margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size:1em;
  animation: 
    typing_2 4s steps(40, end) infinite
}

.typewriter #subtitle3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
/*  margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size:1em;
  animation: 
    typing_3 4s steps(40, end) infinite
}


/* The typing effect */
@keyframes typing {
 0% { width: 0 }
  20% {width:70% }
  40% { width: 70% }
  80% { width: 70% }
  100% { width: 70% }
}

@keyframes typing_2 {
  0% { width: 0 }
  20% {width:0 }
  40% { width: 45% }
  80% { width: 45% }
  100% { width: 45% }
}

@keyframes typing_3 {
  0% { width: 0 }
  20% {width:0 }
  40% { width: 0% }
  80% { width: 45% }
  100% { width: 45% }
}

/*Responsive*/

 @media screen and (min-width:1600px) {
  #next2{
    right:5%:;
  }
   .popout {
     margin-right:0%;
   }
  .media-holder {
      width:100%;
      top:-5%;
      margin-left:0%;
     
    }
  .media-holder iframe {
      transform: scale(1.4);
      transform-origin: 0 0;
      padding-left:5%;
  }
  .next {
    top:60%;
  }
  #CR {
    padding-left:5%;
  }
  .about {
    margin-left:90%;
  }
  .media-column {
    padding: 3% 5%;
  }
  .side-column h5 {
    font-size:2em;
  }
  .side-column p {
    font-size:1.2em;
  }
  close {
/*    margin-top:5%;
    margin-left:65%;
    font-size:2em;*/
    display:none;
  }
  .launch {
    font-size:4em;
  }
  em {
    font-size:1em;
  }
  }

  @media screen and (max-width:1100px) {
   body {
     width:100vh;
   }
   #model-section {
     height:45vh;
   }
   #century-section {
     height:60vh;
   }
   .content {
     background-repeat:no-repeat;
     background-attachment:scroll!important;
     background-position: right top;
     background-size: 100% auto; 
   }
   .fashion {
     width:60%;
   }
   .content h1 {
     font-size:5em;
   }
   .content p {
     font-size:2em;
   }
   .title {
     background-repeat:no-repeat;
     background-attachment:scroll!important;
     background-position: right bottom;
     background-size: 100% auto;
   }
   .title button {
     display:none;
   }
  
  .header{
    width:90%;
    height:90%;
    background-color:black;
    opacity:0.8;
  }
  .header h1{
    width:80%;
    font-size:10em;
    line-height:1em;
  }
  button {
    font-size:2em;
    margin-bottom:2%;
  }
  .header p {
    font-size:2em;
  }
  .next {
    display:none;
  }

  #clusters {
    margin-top:60%;
    margin-left:3%;
    height:auto;
  }
  #tutorial {
    width:80%;
    padding-top:10%;
  }
  #tutorial h1 {
    font-size:5em;
    line-height:1.2em;
  }
  #cluster-desc {
    padding-top:30%;
    margin-left:18%;
  }
  #cluster-desc p{
    text-align:center;
  }
  .popout {
    display:none;
    width:100%;
    opacity:0.95;
  }
  .popout p {
    width:50%;
    font-size:2.5em;
    line-height:1em;
    padding:0% 25%;
  }
  .popout-heading{
    padding:0% 20%;
    width:80%;
  }
  .popout-heading mark {
    margin:0% 5%;
    text-align:center;
    line-height:6em;
    font-size:2em;
  }
  .popout-heading h1 {
    font-size:5em;
     padding:0% 10%;
    text-align:center;
    width:50%
  }
  .primitive {
    margin:auto;
    width:10%;
  }
  .about {
    margin-left:80%;
    width:auto;
    padding:3%;
    font-size:3em;
  }
  close {
    font-size:5em;
    margin-top:2%;
    margin-left:82%;
  }
  .media-holder {
    }
  .media-holder iframe {
    transform: scale(1.7);
    transform-origin: 0 0;
    padding-left:5%;
  }
  .scroll-post {
      height:50%;
  }
  .media-holder {
    width:100%;
    display:block;
  }
  .side-column{
    display:block;
    margin:auto;
    width:80%;
    padding-left:10%;
  }
  .media-column {
    width:100%;
    padding:0%;
    display:block;
    padding-top:-5%;
  }
  #map {
    height:60vh;
  }
 }